
  @import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

.maincon {
  padding: 0 20px;
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-container {
  height: max-content;
  border-radius: 10px;
  /* background-image: linear-gradient(to right ,rgb(255, 68, 0), rgb(13, 190, 143)); */
  background-image: linear-gradient(to left ,black, rgb(255, 2, 44));
  margin: 0;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
select {
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
}

.top-container h1 {
  font-size: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-container h2{
  font-size: 40px;
  font-weight: 100;
   font-family: 'Whisper', cursive;
}

.top-container img {
  height: 200px;
  transform: translateX(350px);
}

.left-top {
  background-image: linear-gradient(to right ,rgb(0, 0, 0), rgba(2, 255, 53, 0.455));
  /* height: 25vh; */
  border-radius: 10px;
}

.zero {
  font-size: 30px;
  font-weight: 600;
}

.right-top {
  background-image: linear-gradient(to right ,rgb(0, 136, 255), rgb(155, 13, 190));
  /* height: 25vh; */
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.right-top img {
  height: 100px;
}

.right-top h2, .left-top h2 {
  font-family: 'Whisper', cursive;
  font-size: 40px;
}

#err {
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.exp {
  font-weight: 600;
  margin-left: 10px;
  font-size: 30px;
}


input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

::placeholder {
  color: black;
  font-weight: 600;
  text-align: end;
}

button {
  width: 100%;
}

button:hover {
  background-color: black;
  color: rgb(255, 106, 0);
  border:1px solid rgb(255, 106, 0);
}

@media (max-width:475px) {
  .top-container {
    height: 25vh;
  }

  .left-top, .right-top {
    height: max-content;
  }
}
